body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-optical-sizing: auto
}

body,
label {
    color: #343a40
}

.bg-overlay {
    height: 100%;
    opacity: .7;
    width: 100%
}

body {
    background-color: #fbf3e9 !important;
    font-family: Cabin, sans-serif;
    font-size: .9rem
}

.text-muted-2,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6d6d6d;
    font-weight: 700
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 58px
}

.row>*,
.title .title-icon,
.video-container {
    position: relative
}

.row.g-4>[class^=col-] {
    margin-bottom: 20px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DM Sans, sans-serif;
    font-size: 32px;
    line-height: 1.2 !important;
}

a {
    color: #c55327;
    outline: 0;
    text-decoration: none !important
}

p {
    font-family: Cabin, sans-serif;
    line-height: 1.6 !important;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

hr {
    opacity: 0 !important
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.video-container {
    height: 600px;
    max-width: 100%;
    overflow: hidden;
    width: 100%
}

.video-thumbnail {
    cursor: pointer;
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%
}

.iframe {
    border: none;
    display: none;
    height: 600px;
    width: 100%
}

.play-button {
    align-items: center;
    background-color: #c55327;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s, transform .2s;
    width: 60px;
    z-index: 2;
    padding: 0 !important;
}

.play-unmuted-button{
    background-color: #c55327;
    border-radius: 4px;
    color: #fff;
}

.play-unmuted-button:hover {
    background-color: #000;
    transform: scale(1.1)
}

.btn, 
.hiveri {
    transition: .4s
}

.play-button:hover {
    background-color: #000;
    transform: translate(-50%, -50%) scale(1.1)
}

.play-icon {
    height: 40px;
    width: 40px;
    fill: #fff
}

.bg-black,
.bg-dark,
.bg-primary {
    background-color: #000 !important
}

.text-primary {
    color: #fff !important;
    font-weight: 700
}

.uim-icon-primary .uim-svg {
    fill: #fff !important
}

.bg-footer,
.footer-alt {
    background-color: #fbf3e9
}

.btn-light,
.text-body,
.text-dark {
    color: #343a40 !important
}

.uim-icon-dark .uim-svg {
    fill: #343a40 !important
}

.text-muted {
    color: #000 !important;
    font-size: 20px;
    font-weight: 400
}

.text-white {
    color: #fff !important
}

.text-black,
.text-muted-3 {
    color: #000 !important
}

.uim-icon-white .uim-svg {
    fill: #fff !important
}

.text-muted-3 {
    font-size: 18px;
    font-weight: 400;
    text-align: left
}

.section {
    padding: 80px 0;
    position: relative
}

.title p {
    letter-spacing: 2px
}

.title .title-icon:before {
    background: #e9ecef;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 12px;
    width: 100%
}

.font-18 {
    font-size: 18px;
    text-align: left
}

.font-20 {
    font-size: 20px
}

.fw-semibold {
    font-weight: 600 !important
}

.uim-svg {
    fill: #c55327 !important
}

.bg-color {
    background-color: #fbf3e9 !important
}

.uim-svg svg {
    height: 24px;
    vertical-align: inherit;
    width: 24px
}

.avatar-title {
    align-items: center;
    background-color: #e2a993 !important;
    color: #fff;
    display: flex;
    font-weight: 900;
    justify-content: center
}

.bg-overlay {
    background-color: #343a40;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.hero-1,
.hero-3 {
    height: 100vh
}

label {
    font-weight: 600
}

.btn {
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 16px
}

.btn:focus,
.btn:hover {
    box-shadow: none !important;
    outline: 0 !important;
    text-decoration: none
}

.btn-primary {
    background: #c55327;
    border-color: #c55327;
    color: #fff
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background: #000;
    border-color: #000;
    color: #fff
}

.hero-1 .hero-1-bg,
.hero-3,
.hero-4 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.hero-1 {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    position: relative
}

.hero-1 .bg-overlay {
    opacity: .5
}

.hero-1 .hero-1-bg {
    height: 100%;
    transition: background-image 1s ease-in-out;
    width: 100%
}

.hero-1 .hero-1-bg .text {
    color: #fff;
    text-align: center
}

@media (max-width:991px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 26px;
        text-align: center
    }

    .row {
        display: flex;
        justify-content: center
    }

    .row,
    .text-muted {
        text-align: center
    }

    .text-muted {
        padding: 20px
    }

    .iframe {
        width: 100%
    }
}

.hero-4 {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 2vh
}

.hero-3 .hero-3-content,
.hero-4 .hero-4-content {
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 0 30px;
    position: relative
}

.hero-3 .hero-3-content .hero-3-title {
    font-size: 46px
}

.hero-4 .hero-4-content .hero-4-title {
    font-size: 46px;
    margin-bottom: 12px !important
}

.bg-before-footer {
    background-color: #fdf9f4 !important
}

.hero-3 .hero-3-content .con-border-top:before {
    background-color: #fff;
    content: "";
    height: 1px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 140px
}

.hero-3 .hero-3-content .con-border-top:after {
    background-color: #fff;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 1px
}

.hero-3 .hero-3-content .con-border-bottom:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    right: -30px;
    width: 140px
}

.hero-3 .hero-3-content .con-border-bottom:after {
    background-color: #fff;
    bottom: -20px;
    content: "";
    height: 120px;
    position: absolute;
    right: 0;
    width: 1px
}

@media(max-width:1024px) {
    .hero-3 {
        height: auto;
        padding: 170px 0 140px
    }
}

@media(max-width:768px) {
    .section {
        padding: 0 0 50px
    }

    .hero-1 .hero-1-title {
        font-size: 32px
    }
}

.about-desc-list li {
    padding: 4px 0
}

.footer {
    padding: 10px 0
}

.footer .footer-list-menu li a {
    color: #000;
    display: inline-block;
    font-size: 20px;
    transition: .4s
}

.footer .footer-list-menu li a:hover,
.hiveri:hover {
    color: #a9a9a9 !important
}

@media (min-width:991px) {
    .footer-privacy {
        padding-left: 60px !important
    }
}

@media (max-width:768px) {
    .testimonial-pic {
        height: 40px !important;
        left: 15px !important;
        top: 20px;
        width: 40px !important
    }

    .content-section {
        margin-top: 0 !important
    }

    .hr-2,
    .hr-3,
    .hr-4 {
        margin-bottom: -19px !important;
        margin-top: 32px !important
    }

    .text-black {
        margin-left: 20px
    }

    .avatar-title,
    .text-black {
        display: flex;
        justify-content: center
    }

    .avatar-title {
        align-items: center;
        background-color: #e2a993 !important;
        color: #fff;
        font-weight: 900
    }

    .hero-1 .hero-1-bg {
        background-color: #000;
        background-position: 75%;
        background-size: cover
    }

    .hero-4 .hero-4-content .hero-4-title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 22px !important
    }

    .hero-4 {
        height: auto;
        min-height: 80vh !important;
        padding-bottom: 5vh;
        padding-top: 5vh
    }

    .font-20 {
        font-size: 16px !important
    }
}

@media (min-width:1240px) {
    .footer-privacy {
        margin-left: 40px !important
    }
}